<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Qualificação</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qualificacao.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        /* Esconde os inputs originais */
        #foto-camera, #foto-galeria {
            display: none;
        }
        .botoes-container {
            display: flex; /* Ativa o Flexbox */
            flex-direction: row; /* Alinha os itens em linha (horizontalmente) */
            gap: 10px; /* Espaço entre os botões (ajuste conforme necessário) */
            justify-content: center;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="card shadow-lg p-4">
            <h1 class="mb-4 text-center">Editar Qualificação</h1>
            <form action="/editar_qualificado" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="foto_url" value="{{ request.args.get('foto_url') }}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" class="form-control" value="{{ request.args.get('nome') }}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="vulgo">Vulgo:</label>
                            <input type="text" id="vulgo" name="vulgo" class="form-control" value="{{ request.args.get('vulgo') }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rgcpf">RG/CPF:</label>
                            <input type="text" id="rgcpf" name="rgcpf" class="form-control" value="{{ request.args.get('rgcpf') }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ssp">SSP:</label>
                            <input type="text" id="ssp" name="ssp" class="form-control" value="{{ request.args.get('ssp') }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nascimento">Nascimento:</label>
                            <input type="date" id="nascimento" name="nascimento" class="form-control" value="{{ request.args.get('nascimento') }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="natureza">Natureza:</label>
                            <input type="text" id="natureza" name="natureza" class="form-control" value="{{ request.args.get('natureza') }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="datafato">Data do Fato:</label>
                            <input type="date" id="datafato" name="datafato" class="form-control" value="{{ request.args.get('datafato') }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bopme">BOPM-e:</label>
                            <input type="text" id="bopme" name="bopme" class="form-control" value="{{ request.args.get('bopme') }}">
                        </div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cidade">Cidade:</label>
                            <input type="text" id="cidade" name="cidade" class="form-control" value="{{ request.args.get('cidade') }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endereco">Endereço:</label>
                            <input type="text" id="endereco" name="endereco" class="form-control" value="{{ request.args.get('endereco') }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="foto-label">Foto:</label>
                    <div class="mt-2 botoes-container">
                        <button type="button" id="abrir-camera" class="btn btn-primary">
                            <i class="fas fa-camera"></i>
                        </button>
                        <button type="button" id="abrir-galeria" class="btn btn-secondary">
                            <i class="fas fa-images"></i>
                        </button>
                        <!-- Input para a câmera -->
                        <input type="file" id="foto-camera" name="foto" accept="image/*" capture="user">
                        <!-- Input para a galeria -->
                        <input type="file" id="foto-galeria" name="foto" accept="image/*">
                        <!-- Label que mostrará o nome do arquivo selecionado -->
                    </div>
                    {% if request.args.get('foto_url') %}
                    <div class="mt-2">
                        <img src="{{ request.args.get('foto_url') }}" alt="Foto" class="img-thumbnail" width="100">
                    </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
                <a href="/" class="btn btn-secondary btn-block">Cancelar</a>
            </form>
        </div>
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center">
                <span class="text-muted">Copyright © <a href="https://x.com/DavidMPrado">2025</a></span>
            </div>
        </footer>
    </div>
    <script>
        document.getElementById('abrir-camera').addEventListener('click', function() {
            document.getElementById('foto-camera').click();
        });

        document.getElementById('abrir-galeria').addEventListener('click', function() {
            document.getElementById('foto-galeria').click();
        });

        // Atualiza o label com o nome do arquivo selecionado de qualquer um dos inputs
        document.getElementById('foto-camera').addEventListener('change', function(e) {
            atualizarNomeArquivo(e);
        });

        document.getElementById('foto-galeria').addEventListener('change', function(e) {
            atualizarNomeArquivo(e);
        });

        function atualizarNomeArquivo(e) {
            var fileName = e.target.files[0].name;
            document.getElementById('foto-label').innerText = fileName;
        }
    </script>
</body>
</html>