<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informação</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/informacao.css') }}"> </head>
<body>
    <div class="container py-5">
        <div class="card shadow-lg p-4">
            <h1 class="mb-4 text-center">Sobre este Aplicativo</h1>
            <div class="content">
                <p><strong>O objetivo principal do app é auxiliar na organização e no gerenciamento de dados dos abordados. 
                    A ferramenta tem como função central coletar informações, organizá-las de forma estruturada e gerar um 
                    arquivo PDF com os dados do qualificado.</p></strong> 

                <p> É possivel que o app, os dados sejam pesquisados e consultados diretamente na plataforma, 
                    otimizando o trabalho do usuário.</p>
                    <p>Ele permite que os usuários registrem informações de qualificados, gerando uma planilha e um 
                        arquivo PDF com esses dados, que podem ser pesquisados futuramente através do próprio app.</p>
                <p><strong>Importante:</strong></p>
                <ul>
                    <li>Responsabilidade dos dados: As informações fornecidas são de total responsabilidade do usuário, cabendo a este zelar pela confidencialidade e não divulgação dos dados inseridos no sistema.</li>
                </ul>
                <p><strong>Aviso de Responsabilidade:</strong></p>
                
                <p>Ao utilizar este aplicativo, você concorda com os termos acima e assume total responsabilidade pelo seu uso.</p>
                <p>Este app foi projetado com o intuito de ser uma ferramenta prática e eficiente, oferecendo funcionalidades simples e objetivas para o gerenciamento seguro das informações.</p>

                </div>
            <a href="/" class="btn btn-primary">Voltar ao Início</a>
        </div>
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center">
                <span class="text-muted">Copyright © 2025</span>
            </div>
        </footer>
    </div>
</body>
</html>