<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultado.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>
<body class="bg-light">
    <div class="container py-5" id="capture-area">
        <div class="card p-4 shadow-lg">
            <div class="cabecalho">
                <img src="{{ url_for('static', filename='images/logo01.png') }}" alt="Logo Esquerda" class="logo-left">
                <img src="{{ url_for('static', filename='images/logo02.png') }}" alt="Logo Direita" class="logo-right">
                <p>SECRETARIA DE ESTADO DOS NEGÓCIOS DA SEGURANÇA PÚBLICA</p>
                <p>POLÍCIA MILITAR DO ESTADO DE SÃO PAULO</p>
                <p><strong class="batalhao" class="cia" class="pelgp">{{ batalhao }} - {{ cia }}CIA - {{pelgp}} </strong></p>
            </div>
            <div class="foto-container">
                <img src="{{ foto_url }}" alt="Foto Selecionada" class="img-fluid foto">
            </div>
            <div class="info">
                <p><strong>NOME:</strong> <strong class="nome">{{ nome }}</strong></p>
                <p><strong>VULGO:</strong> {{ vulgo }}</p>
                <p><strong>RG:</strong> <span class="espaco-direita">{{ rgcpf }}</span> <strong>SSP:</strong> <span class="espaco-direita">{{ ssp }}</span> <strong>DATA NASC.:</strong> {{ nascimento }}</p>
                <p><strong>NATUREZA:</strong>  <em class="natureza">{{ natureza }}</em></p>
                <p><strong>DATA FATO:</strong>  <span class="espaco-direita">{{ datafato }} </span> <strong>BOPM:</strong> <span class="espaco-direita"> {{ bopme }}</span></p>
                <p><strong>CIDADE:</strong> {{ cidade }}</p>
                <p><strong>ENDEREÇO:</strong> {{ endereco }}</p>
                <p><strong>EQUIPE POLICIAL: </strong> {{ equipe }} </p>
            </div>
        </div>
    </div>
    <div class="container mt-4" id="botoes-container">
        <a id="download-link" href="/download/{{ nome }}.pdf" class="btn btn-primary">Baixar PDF</a>
        <button id="share-pdf" class="btn btn-primary">Compartilhar</button>
        <a href="/editar_qualificado?batalhao={{ batalhao }}&cia={{ cia }}&pelgp={{ pelgp }}&nome={{ nome }}&vulgo={{ vulgo }}&rgcpf={{ rgcpf }}&ssp={{ ssp }}&nascimento={{ nascimento }}&natureza={{ natureza }}&datafato={{ datafato }}&bopme={{ bopme }}&cidade={{ cidade }}&endereco={{ endereco }}&equipe={{ equipe }}&foto_url={{ foto_url }}" class="btn btn-primary">Editar</a>
        <a href="/" class="btn btn-primary">Início</a>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">Copyright © 2025 <a href="/">Qualificador</a></span>
        </div>
    </footer>
    <script>
       document.getElementById('download-link').addEventListener('click', async function(event) {
            event.preventDefault(); // Previne o comportamento padrão do link

            // Oculta os botões
            const botoesContainer = document.getElementById('botoes-container');
            botoesContainer.style.display = 'none';

            const { jsPDF } = window.jspdf;
            const captureArea = document.getElementById('capture-area');
            const nome = document.querySelector('.nome').innerText;

            const canvas = await html2canvas(captureArea, {
                backgroundColor: null,
                scale: 2
            });
            const imgData = canvas.toDataURL('image/png');
            const pdf = new jsPDF();
            const imgWidth = 190;
            const imgHeight = (canvas.height * imgWidth) / canvas.width;

            pdf.addImage(imgData, 'PNG', 10, 10, imgWidth, imgHeight);

            // Salva o PDF
            pdf.save(`${nome}.pdf`);

            // Mostra os botões novamente
            botoesContainer.style.display = 'block';
        });

        document.getElementById('share-pdf').addEventListener('click', async function() {
            const nome = "{{ nome }}";
            const pdfFilename = `${nome}.pdf`;

            try {
                const response = await fetch(`/download/${pdfFilename}`);
                if (!response.ok) {
                    throw new Error('Erro ao baixar o PDF do servidor.');
                }

                const pdfBlob = await response.blob();
                const file = new File([pdfBlob], pdfFilename, { type: 'application/pdf' });

                if (navigator.share && navigator.canShare && navigator.canShare({ files: [file] })) {
                    await navigator.share({
                        files: [file],
                        title: 'Compartilhar Qualificação',
                        text: 'Veja a qualificação de ' + nome,
                    });
                } else {
                    alert('Compartilhamento não suportado neste navegador ou dispositivo.');
                }
            } catch (error) {
                console.error('Erro ao compartilhar:', error);
                alert('Erro ao compartilhar: ' + error.message);
            }
        });
    </script>
</body>
</html>